#logo {
   /* margin-top: 89px; 
    padding-top: 109px;*/
}
.content{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 89px;
    padding-top: 109px;
}
input{
    position: relative;
    width: 408px;
    height:24px;
    border-width: 1px;
    font-size: 18px;
}
#searchbutton{
    position: relative;
    width: 272px;
    height: 36px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    background-color:#eeeeee;
    border-radius: 8px;
    border-width: 0px;
}